body {
    height: 50vh;
}

.donation-section {
    text-align: center;
}

.donation-section-header {
    max-width: 640px;
    margin: 0 auto 5rem auto;
    border-bottom: 0.2rem solid white;
}