@import url("https://fonts.googleapis.com/css?family=Open+Sans");

:root {
    --text-primary: white;
    --text-secondary: #6B6E70;
    --bg-primary: #222629;
    --bg-secondary: #61892F;
}

* {
    margin: 0;
    padding: 0;
}

html {
    box-sizing: border-box;
    scroll-behavior: smooth;
}