@import url("https://fonts.googleapis.com/css?family=Open+Sans");

:root {
    --text-primary: white;
    --text-secondary: #6B6E70;
    --bg-primary: #222629;
    --bg-secondary: #61892F;
}

* {
    margin: 0;
    padding: 0;
}

html {
    box-sizing: border-box;
    scroll-behavior: smooth;
}

/* Base Styles */

body::-webkit-scrollbar {
    width: 0.35em;
}

body::-webkit-scrollbar-track {
    background: var(--bg-primary);
}

body::-webkit-scrollbar-thumb {
    background: var(--bg-secondary);
}

body {
    font-size: 16px;
    font-family: 'Open Sans', Helvetica, sans-serif;
    background: rgb(25, 25, 25);
    color: var(--text-primary);
    line-height: 1.5;
}

h1,
h2,
h3 {
    font-weight: 800;
    text-align: center;
}

h1 {
    font-size: 4rem;
}

h2 {
    font-size: 3rem;
}

h3 {
    font-size: 2rem;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
    color: white;
}